# MySQL
MYSQL_USER=root
MYSQL_PASSWORD=password
# Optional
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306

# PostgreSQL
PG_USER=test
PG_PASSWORD=test
# Optional
PG_HOST=127.0.0.1
PG_PORT=5432

# Base64 encoded Google Cloud service account key json with privileges to upload files to a bucket
GOOGLE_CLOUD_CREDENTIALS=eyJ0eXBlIjoiIiwicHJvamVjdF9pZCI6IiIsInByaXZhdGVfa2V5X2lkIjoiIiwicHJpdmF0ZV9rZXkiOiIiLCJjbGllbnRfZW1haWwiOiIiLCJjbGllbnRfaWQiOiIiLCJhdXRoX3VyaSI6IiIsInRva2VuX3VyaSI6IiIsImF1dGhfcHJvdmlkZXJfeDUwOV9jZXJ0X3VybCI6IiIsImNsaWVudF94NTA5X2NlcnRfdXJsIjoiIiwidW5pdmVyc2VfZG9tYWluIjoiIn0=

# Optional
BASIC_AUTH_USER=admin
BASIC_AUTH_PASSWORD=password

S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_ENDPOINT=https://storage.googleapis.com